<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Jared_PriceChecker::pricechecker" title="Price Checker" sortOrder="100">
                    <resource id="Jared_PriceChecker::check_prices" title="Check Prices" sortOrder="10" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>